:root {
  --color-white: #ffffff;
  --color-white-10: #ffffff1f;
  --color-black: #000000;

  --color-green: #28d979;
  --color-gray: #f0f0f0;
  --color-dark-gray: #393939;
  --color-ligth-gray: #DDDDDD
}
