.box {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 124px;
  min-height: 124px;
  padding: 12px;
  border-radius: 12px;
  background-color: var(--color-dark-gray);
}

.box--contacts {
  background-color: var(--color-black);
}

.box--content {
  flex-grow: 1;
  background-color: var(--color-white-10);
  padding: 8px;
  min-height: auto;
}

.box--accent {
  color: var(--color-white);
  background-color: var(--color-green);
}

@media (prefers-color-scheme: light) {
  .box {
    background-color: var(--color-gray);
  }

  .box--contacts {
    min-height: auto;
    background-color: var(--color-black);
    color: var(--color-white);
  }

  .box--content {
    background-color: var(--color-white);
  }

  .box--accent {
    color: var(--color-white);
    background-color: var(--color-green);
  }
}

.box--avatar {
  grid-area: avatar;
}

.box--user {
  grid-area: user;
}

.box--languages {
  grid-area: languages;
}

.box--experience {
  grid-area: experience;
}

.box--tools {
  grid-area: tools;
}

.box--education {
  grid-area: education;
}

.box--interests {
  grid-area: interests;
}

.box--contacts {
  grid-area: contacts;
}

.box__title {
  font-size: 14px;
  margin-bottom: 16px;
}
